[Unit] 
Description=Run the ugear autopilot application
After=syslog.target network.target 

[Service] 
Type=simple 
ExecStart=/usr/local/bin/bb-aura.sh 

[Install] 
WantedBy=multi-user.target
