<?xml version="1.0"?>

<!-- Master MicroGear config file -->

<PropertyList>
  <config>

    <!-- Onboard data logging. -->
    <logging>
      <!-- Caution: enabling this feature can have a significant -->
      <!-- performance impact on the ugear application depending on the -->
      <!-- speed of the onboard storage. -->
      <path>.</path>
      <enable type="bool">false</enable>

      <gps-skip>0</gps-skip>
      <imu-skip>0</imu-skip>
      <airdata-skip>9</airdata-skip>
      <filter-skip>9</filter-skip>
      <actuator-skip>9</actuator-skip>
      <pilot-skip>9</pilot-skip>
      <autopilot-skip>9</autopilot-skip>
    </logging>

    <!-- Console / ground station communication. -->
    <console>
      <device>/dev/ttyS0</device>
      <enable type="bool">false</enable>

      <lost-link-timeout-sec>60</lost-link-timeout-sec>

      <gps-skip>1</gps-skip>
      <imu-skip>8</imu-skip>
      <airdata-skip>8</airdata-skip>
      <filter-skip>4</filter-skip>
      <actuator-skip>4</actuator-skip>
      <pilot-skip>8</pilot-skip>
      <autopilot-skip>8</autopilot-skip>
    </console>

    <telnet>
      <enable type="bool">true</enable>
      <port>6499</port>
    </telnet>

    <!-- Sensor selection and configuration. -->
    <sensors>
      <imu-group>
	<imu>
	  <enable type="bool">true</enable>
	  <source>fgfs</source>
	  <port>6500</port>
	</imu>
        <imu>
          <enable type="bool">false</enable>
          <source>vn100</source>
          <device>/dev/ttyUSB0</device>
        </imu>
        <imu>
          <enable type="bool">false</enable>
	  <source>file</source>
	  <name>/home/curt/Projects/Lockheed-Martin/IMU-Comparison/FlightData/Flight1/UMN-chop</name>
        </imu>
      </imu-group>

      <gps-group>
	<gps>
	  <enable type="bool">true</enable>
	  <source>fgfs</source>
	  <port>6501</port>
	</gps>
        <gps>
          <enable type="bool">false</enable>
          <source>gpsd</source>
          <port>2947</port>
          <host>localhost</host>
          <init-string>n=0</init-string>
          <init-string>w=1</init-string>
        </gps>
        <gps>
          <enable type="bool">false</enable>
          <source>file</source>
	  <name>/home/curt/Projects/Lockheed-Martin/IMU-Comparison/FlightData/Flight1/UMN-chop</name>
        </gps>
      </gps-group>

      <air-data-group>
        <air-data>
	  <source>fgfs</source>
	  <enable type="bool">true</enable>
        </air-data>
        <air-data>
	  <source>ardusensor</source>
	  <enable type="bool">false</enable>
        </air-data>
      </air-data-group>
    </sensors>

    <!-- Filters configuration -->
    <filters>
      <!-- Magnetic Declination (Variation) -->
      <!-- You can force a value or specify "auto" to have the system -->
      <!-- compute a magnetic variation based on initial gps location and -->
      <!-- date. -->
      <!-- <magvar-deg>0.827</magvar-deg> --> <!-- @KANE, 01/17/2009 -->
      <magvar-deg>auto</magvar-deg>

      <!-- Time in seconds we will project forward on inertials alone after -->
      <!-- losing a gps solution. -->
      <gps-timeout-sec>15.0</gps-timeout-sec>

      <filter>
	<!-- University of Minnesota AEM ADNS -->
	<module>umn</module>
	<enable type="bool">true</enable>
      </filter>

      <filter>
	<!-- MNAV based AHRS + Navigation algorithm -->
	<module>mnav</module>
	<enable type="bool">false</enable>

	<!-- hard iron calibration parameters, see the readme for -->
	<!-- configuration and calibration instructions. -->
	<bBx>0.0</bBx>
	<bBy>0.0</bBy>
	<sfx>1.0</sfx>
	<sfy>1.0</sfy>
      </filter>

      <filter>
	<!-- Curt/ATI playground -->
	<module>curt</module>
	<enable type="bool">false</enable>
      </filter>

    </filters>

    <!-- Autopilot and control configuration. -->
    <autopilot>
      <!-- set value to true to enable the autopilot -->
      <enable type="bool">true</enable>

      <!-- select the autopilot configuration -->
      <!-- <path>autopilots/SeniorTelemaster.xml</path> -->
      <!-- <path>autopilots/Malolo2-alt-thr.xml</path> -->
      <!-- <path>autopilots/Rascal110-combined.xml</path> -->
      <!-- <path>autopilots/Rascal110-wingleveler.xml</path> -->
      <!-- <path>autopilots/Rascal110-pitchleveler.xml</path> -->
      <path>autopilots/Rascal110-fgfs.xml</path>

      <!-- set value to true to enable flying wing elevon mixing -->
      <elevon-mixing type="bool">false</elevon-mixing>
    </autopilot>

    <!-- Primary route selection and configuration. -->
    <route>
      <!-- set value to true to enable the high level route management -->
      <enable type="bool">true</enable>

      <!-- <path>routes/NOAA.xml</path> -->
      <!-- <path>routes/SPRC-bowtie.xml</path> -->
      <!-- <path>routes/Jensen-tri.xml</path> -->
      <!-- <path>routes/WinonaRC.xml</path> -->
      <path>routes/bowtie.xml</path> <!-- relative bowtie -->
    </route>

    <!-- Pilot Input configuration -->
    <pilot-inputs>
      <pilot-input>
        <source>fgfs</source>
        <enable type="bool">true</enable>
	<port>6502</port>
      </pilot-input>
    </pilot-inputs>

    <!-- Actuator selection and configuration. -->
    <actuators>
      <throttle-safety>
        <!-- throttle will be forced to zero when prop value is less than -->
        <!-- minimum threshold -->
        <prop>/position/altitude-filter-agl-ft</prop>
        <min-value>100</min-value>
      </throttle-safety>
      <actuator>
        <module>fgfs</module>
 	<host>192.168.1.103</host>
 	<port>6503</port>
        <enable type="bool">true</enable>
      </actuator>
      <actuator>
        <module>ardupilot-servo</module>
        <enable type="bool">false</enable>
	<device>/dev/ttyUSB0</device>
        <baud>115200</baud>        
      </actuator>
    </actuators>

  </config>
</PropertyList>
